[submodule "libs/raylib"]
	path = libs/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "libs/reflect"]
	path = libs/reflect
	url = https://github.com/qlibs/reflect.git
[submodule "libs/flyweight"]
	path = libs/flyweight.hpp
	url = https://github.com/gilzoide/flyweight.hpp.git
[submodule "libs/tracy"]
	path = libs/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "libs/tomlplusplus"]
	path = libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "libs/physfs"]
	path = libs/physfs
	url = https://github.com/icculus/physfs
[submodule "libs/idbvfs"]
	path = libs/idbvfs
	url = https://github.com/gilzoide/idbvfs.git
[submodule "libs/cdedent"]
	path = libs/cdedent
	url = https://github.com/gilzoide/cdedent.git
[submodule "tools/file2c"]
	path = tools/file2c
	url = https://github.com/gilzoide/file2c.git
