[submodule "libs/raylib"]
	path = libs/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "libs/reflect"]
	path = libs/reflect
	url = https://github.com/qlibs/reflect.git
[submodule "libs/flyweight"]
	path = libs/flyweight.hpp
	url = https://github.com/gilzoide/flyweight.hpp.git
[submodule "libs/tracy"]
	path = libs/tracy
	url = https://github.com/wolfpld/tracy.git
